<%= link_to 'Create a new link', new_link_path %>

<table class="links-table">
  <thead>
    <tr>
      <td>Original</td>
      <td>Shortened</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%=link.original%></td>
        <td><%= root_url + link.shortened %></td>
        <td><%= link_to 'delete', delete_link_path(link), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
